<footer class="footer_solo">
<a class="subscribe_solo icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethis_solo">Subscribe!</span></a>
<div class="footertext_solo">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</div>
<div class="footertext_solo">Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></div>
</footer>